html {
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  font-family: "Montserrat", sans-serif;
  background-color: #252525;
}

* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

.app {
  padding: 1rem;
}

.app__charts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  .app__charts-world {
    flex: 1;
  }
  .app__charts-ru {
    flex: 1;
  }
}
